# Database Configuration
# NOTE FOR XAMPP USERS: Leave DB_PASSWORD completely blank!
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=ssgi_securedoc

# Authentication Secret
JWT_SECRET=ssgi_securedoc_jwt_secret_key_2024
# AI Integration
GEMINI_API_KEY=AQ.Ab8RN6Kd83iOSOoXSl-D4agtV0YBHMu4RWlfbnRQp8gPo9Yxjg